<ul class="list-group">
  <li class="list-group-item p-1">
    <div class="d-flex">
      <div class="p-2 flex-grow-1">Status
        {{#if this.activeTask}}
          <span class="badge badge-pill badge-success">running</span>
        {{else}}
          <span class="badge badge-pill badge-info">idle</span>
        {{/if}}
      </div>
      <div class="p-2">Total <span class="badge badge-pill badge-success">{{duration this.totalSeconds}}</span></div>
      <div class="p-2"><button class="btn btn-sm btn-info {{if this.activeTask '' 'disabled'}}" {{on "click" this.stopAll}} >pause</button></div>
    </div>
  </li>

  {{#each @model as |task|}}
    <li class="list-group-item p-1">
      <div class="d-flex">
        <div class="p-2 flex-grow-1">
          <h5>
            {{task.name}}
            {{#if task.isRunning}}
              <MdIcon @icon="clock-check-outline" @size=24 @fill="#009202"/>
            {{/if}}
          </h5>
        </div>
        <div class="p-2"><span class="badge badge-pill badge-success">{{duration task.seconds}}</span></div>
        {{#if task.isRunning}}
          <div class="p-2"><button class="btn btn-sm btn-warning" {{on "click" (fn this.stop task)}}>stop</button></div>
        {{else}}  
          <div class="p-2"><button class="btn btn-sm btn-success" {{on "click" (fn this.activate task)}}>start</button></div>
        {{/if}}
        <div class="p-2"><button class="btn btn-sm btn-danger" {{on "click" (fn this.delete task)}}>remove</button></div>
      </div>
      <TimeperiodList @model={{task.timeperiods}}/>
    </li>
  {{else}}
    <li class="list-group-item p-1">
      <div class="d-flex">
        <div class="p-2 flex-grow-1">
          <p>no tasks yet</p>
        </div>
      </div>
    </li>
  {{/each}}

  <BsForm @onSubmit={{action "addTask"}} as |form|>
    <form.group>
      <li class="list-group-item">
        <input value={{this.newTaskName}} oninput={{action (mut this.newTaskName) value="target.value"}} class="form-control" type="text" placeholder="add new task...">
      </li>
    </form.group>
  </BsForm>

</ul>
