<BsNavbar
  @type="dark"
  @backgroundColor="dark"
  @collapsed={{true}}
  @onCollapse={{action (mut collapsed) true}}
  @onExpand={{action (mut collapsed) false}}
  as |navbar|
>
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}
      <MdIcon
        @icon="clock-outline"
        @size=32
        @fill="#ffffff"
      />
      TimeTracker
      {{/link-to}}
  </div>
  <navbar.content>

    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @route="tasks"> <MdIcon @icon="calendar-check" @size=20 @fill="#ffffff"/> Tasks</nav.link-to>
      </nav.item>
    </navbar.nav>

    <navbar.nav class="ml-auto" as |nav2|>
      {{#if this.session.isAuthenticated}}
        <nav2.item>
          <nav2.link-to @route="logout"><MdIcon @icon="logout" @size=20 @fill="#ffffff"/> Logout</nav2.link-to>
        </nav2.item>
        <nav2.item>
        <nav2.link-to @route="profile"><MdIcon @icon="account" @size=20 @fill="#ffffff"/> Profile ({{this.session.data.username}})</nav2.link-to>
        </nav2.item>
      {{else}}
        <nav2.item>
          <nav2.link-to @route="login"><MdIcon @icon="login" @size=20 @fill="#ffffff"/> Login</nav2.link-to>
        </nav2.item>
        <nav2.item>
          <nav2.link-to @route="register"> <MdIcon @icon="account-plus" @size=20 @fill="#ffffff"/> Register</nav2.link-to>
        </nav2.item>
      {{/if}}
    </navbar.nav>

  </navbar.content>
</BsNavbar>

<main role="main">
  <div class="row">
    <div class="container fixed-top mt-1">
      {{#each flashMessages.queue as |flash|}}
        <FlashMessage @flash={{flash}} />
      {{/each}}
    </div>
  </div>
  {{outlet}}
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted"><a href="https://github.com/Finn10111/TimeTracker" rel="noopener"><MdIcon @icon="github" @size=24/> TimeTracker by Finn Christiansen</a></span>
  </div>
</footer>
